# Source: https://www.x.org/archive/X11R7.5/doc/man/man1/mkfontdir.1.html
name: "X Font Directory Index"
scopeName: "source.fontdir"
fileTypes: [
	"fonts.dir"
	"fonts.scale"
	"fonts.alias"
	"encodings.dir"
]
firstLineMatch: """(?x)
	# Modeline
	(?i:
		# Emacs
		-\\*-(?:\\s*(?=[^:;\\s]+\\s*-\\*-)|(?:.*?[;\\s]|(?<=-\\*-))mode\\s*:\\s*)
			fontdir
		(?=[\\s;]|(?<![-*])-\\*-).*?-\\*-
		
		|
		
		# Vim
		(?:(?:\\s|^)vi(?:m[<=>]?\\d+|m)?|\\sex)(?=:(?=\\s*set?\\s[^\\n:]+:)|:(?!\\s* set?\\s))
		(?:(?:\\s|\\s*:\\s*)\\w*(?:\\s*=(?:[^\\n\\\\\\s]|\\\\.)*)?)*[\\s:]
		(?:filetype|ft|syntax)\\s*=
			fontdir
		(?=\\s|:|$)
	)
"""
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			# Like always, inclusion order matters
			{include: "#comment"}
			{include: "#keywords"}
			{include: "#entryCount"}
			{include: "#entryName"}
			{include: "source.xlfd#name"}
			{include: "#otherField"}
		]

	
	# Comment line, used in `font.aliases'
	comment:
		name:  "comment.line.bang.exclamation-mark.fontdir"
		begin: "^!"
		end:   "(?=$)"
		beginCaptures:
			0: name: "punctuation.definition.comment.fontdir"


	# Number of font entries at beginning of `fonts.dir'
	entryCount:
		name:  "constant.numeric.integer.int.decimal.fontdir"
		match: "\\A([0-9]+)(?=\\s|$)"


	# Entry name with possible spaces
	entryName:
		patterns: [{
			# Quoted
			include: "#string"
		},{
			# Unquoted
			name:  "string.unquoted.font-name.fontdir"
			match: "^(?:[^-\\s]|\\s(?!-|\\S+$)|(?<!\\s)-)+"
		}]


	# The `FILE_NAMES_ALIASES' directive (mkfontdir(1) § “Font Name Aliases”)
	keywords:
		name:  "keyword.control.directive.font-name-aliases.fontdir"
		match: "^(FILE_NAMES_ALIASES)(?=\\s|$)"
	

	# Something that doesn't match an XLFD
	otherField:
		patterns: [{
			# Quoted
			include: "#string"
		},{
			# Unquoted
			name:  "constant.language.other.fontdir"
			match: "(?<=\\s)\\S+$"
		}]


	# Quoted string
	string:
		name:  "string.quoted.double.font-name.fontdir"
		begin: '"'
		end:   '"|(?=$)'
		beginCaptures: 0: name: "punctuation.definition.string.begin.fontdir"
		endCaptures:   0: name: "punctuation.definition.string.end.fontdir"
		patterns: [{
			name:  "constant.character.escape.backslash.fontdir"
			match: "(\\\\)."
			captures:
				1: name: "punctuation.definition.escape.backslash.fontdir"
		}]
