# Source: https://x.org/archive/X11R7.6/doc/xorg-docs/specs/XLFD/xlfd.pdf
name: "X logical font description"
scopeName: "source.xlfd"
patterns: [
	{include: "#name"}
	{include: "#properties"}
]

repository:
	# FontName string
	name:
		name:  "meta.font-name.xlfd"
		match: """(?x)
			# XFontNameRegistry
			(
				(
					(\\+)             # XFNExtPrefix
					([0-9]+\\.[0-9]+) # Version
				)?
				(-) # XFNDelim
			)
			
			# XFontNameSuffix
			# (Scoped as `meta.fields', as `suffix' is misleading)
			(
				([!#-)+.->@-~\\x20]*) (-) # FOUNDRY
				([!#-)+.->@-~\\x20]*) (-) # FAMILY_NAME
				([!#-)+.->@-~]*)      (-) # WEIGHT_NAME
				([!#-)+.->@-~]*)      (-) # SLANT
				([!#-)+.->@-~\\x20]*) (-) # SETWIDTH_NAME
				([!#-)+.->@-~]*)      (-) # ADD_STYLE_NAME
				([!#-)+.->@-~]*)      (-) # PIXEL_SIZE
				([!#-)+.->@-~]*)      (-) # POINT_SIZE
				([!#-)+.->@-~]*)      (-) # RESOLUTION_X
				([!#-)+.->@-~]*)      (-) # RESOLUTION_Y
				([!#-)+.->@-~]*)      (-) # SPACING
				([!#-)+.->@-~]*)      (-) # AVERAGE_WIDTH
				([!#-)+.->@-~]*)      (-) # CHARSET_REGISTRY
				([!#-)+.->@-~]*)          # CHARSET_ENCODING
			)
		"""
		captures:
			1:  name: "meta.registry.xlfd"
			2:  name: "meta.extension.xlfd"
			3:  name: "punctuation.definition.extension-prefix.xlfd"
			4:  name: "constant.numeric.decimal.float.version.xlfd"
			5:  name: "punctuation.delimiter.dash.xlfd"
			6:  name: "meta.fields.xlfd"
			7:  name: "entity.field.name.foundry.xlfd"
			8:  name: "punctuation.delimiter.dash.xlfd"
			9:  name: "entity.field.name.family-name.xlfd"
			10: name: "punctuation.delimiter.dash.xlfd"
			11: name: "entity.field.name.weight-name.xlfd"
			12: name: "punctuation.delimiter.dash.xlfd"
			13: patterns: [
				{match: "^[Rr]$",     name: "constant.language.slant.regular.xlfd"}
				{match: "^[Ii]$",     name: "constant.language.slant.italic.xlfd"}
				{match: "^[Oo]$",     name: "constant.language.slant.oblique.xlfd"}
				{match: "^[Rr][Ii]$", name: "constant.language.slant.reverse-italic.xlfd"}
				{match: "^[Rr][Oo]$", name: "constant.language.slant.reverse-oblique.xlfd"}
				{match: "^[Oo][Tt]$", name: "constant.language.slang.other-type.xlfd"}
				{match: "^[0-9]+$",   name: "constant.numeric.int.integer.slant.xlfd"}
				{match: "^.+$",       name: "invalid.illegal.unknown-type.slant.xlfd"}
			]
			14: name: "punctuation.delimiter.dash.xlfd"
			15: patterns: [ # Set-width
				{match: "^0$",  name: "constant.numeric.polymorphic.set-width.xlfd"}
				{match: "^.+$", name: "entity.field.name.set-width.xlfd"}
			]
			16: name: "punctuation.delimiter.dash.xlfd"
			17: name: "entity.field.name.add-style.xlfd"
			18: name: "punctuation.delimiter.dash.xlfd"
			19: name: "entity.field.name.pixel-size.xlfd"
			20: name: "punctuation.delimiter.dash.xlfd"
			21: name: "entity.field.name.point-size.xlfd"
			22: name: "punctuation.delimiter.dash.xlfd"
			23: name: "entity.field.name.resolution-x.xlfd"
			24: name: "punctuation.delimiter.dash.xlfd"
			25: name: "entity.field.name.resolution-y.xlfd"
			26: name: "punctuation.delimiter.dash.xlfd"
			27: name: "entity.field.name.spacing.xlfd"
			28: name: "punctuation.delimiter.dash.xlfd"
			29: name: "entity.field.name.average-width.xlfd"
			30: name: "punctuation.delimiter.dash.xlfd"
			31: name: "entity.field.name.charset-registry.xlfd"
			32: name: "punctuation.delimiter.dash.xlfd"
			33: name: "entity.field.name.charset-encoding.xlfd"
