".text.sfd":
	editor:
		commentStart: "UComments: "

".source.fontforge, .source.opentype, .source.figctrl":
	editor:
		commentStart: "# "

".source.afm":
	editor:
		commentStart: "Comment "

".source.bdf":
	editor:
		commentStart: "COMMENT "

".source.fontdir":
	editor:
		commentStart: "! "
