".source.afm":
	editor:
		commentStart: "Comment "
		foldStartPattern: "^Start([A-Z]\\w*)(?=\\s|$)"
		foldEndPattern: "^End([A-Z]\\w*)(?=\\s|$)"

".source.bdf":
	editor:
		commentStart: "COMMENT "

".source.figctrl":
	editor:
		commentStart: "# "

".source.fontdir":
	editor:
		commentStart: "! "

".source.fontforge":
	editor:
		commentStart: "# "
		increaseIndentPattern: "(?:^|;)\\s*(?:(?:if|elseif|else)\\b(?!.*\\bendif\\b)|(?:while|foreach)\\b(?!.*\\bendloop\\b))"
		decreaseIndentPattern: "(?:^|;)\\s*(?:elseif|else|endif|endloop)\\b$"

".source.opentype":
	editor:
		commentStart: "# "

".text.sfd":
	editor:
		commentStart: "UComments: "
