".source.fontforge":
	editor:
		commentStart: "# "

".source.opentype":
	editor:
		commentStart: "# "

".source.afm":
	editor:
		commentStart: "Comment "

".source.bdf":
	editor:
		commentStart: "COMMENT "

".source.figctrl":
	editor:
		commentStart: "# "

".source.fontdir":
	editor:
		commentStart: "! "
